<%- include("../includes/head.ejs") %>


<form action="/auth/login" method="post">
    <div class="login">
        <div class="login__container">
            <input type="text">
            <input type="text">
            <button type="submit">login</button>
        </div>
    </div>
</form>


<%- include("../includes/bottom.ejs") %>