<%- include("../includes/head.ejs") %>

<div class="registration">

    <div class="right-panel">
        <div class="right-panel--text">
            <p class="right-panel--text--semicolon">Semicolon;</p>
        </div>
    </div>
  <div class="left-panel">
    <div class="registration-form">
        <div class="account">Login</div>



        <form class="form login-form" action="/auth/register" method="post">
          <div >
              <input type="email" class="input" placeholder="Email" name="email">
            </div>
            <div >
                <input type="password" class="input" placeholder="Password" name ="password">
              </div>
              <button  type="submit" class="register-btn">Login</button>
        </form>

    </div>

   
    

  </div>
  
</div>

<%- include("../includes/bottom.ejs") %>
