<%- include("../includes/head.ejs") %>

<div class="registration">
  <div class="left-panel">
    <div class="registration-form">
        <div class="account">Create account</div>



        <form class="form" action="/auth/register" method="post">
          <div >
            <!-- <label for="name">Name</label> -->
            <input class="form--name" type="text" placeholder="Name">
          </div>
          <div >
              <!-- <label for="Email">Email</label> -->
              <input type="email" class="input" placeholder="Email">
            </div>
            <div >
                <!-- <label for="Password">Password</label> -->
                <input type="password" class="input" placeholder="Password">
              </div>
        </form>

        <a href="#" class="register-btn">Register</a>
    </div>

   
    

  </div>
  <div class="right-panel">
      <div class="right-panel--text">
          <p class="right-panel--text--semicolon">Semicolon;</p>
      </div>
  </div>
</div>

<%- include("../includes/bottom.ejs") %>
