<header class="header new-nav" >

        <!-- =======  LOGO  ========-->
        <!-- <div class="header--logo"></div> -->
    
        <!-- =======  NAVBAR ========-->
        <div class="menu">
    
            <ul class="menu--list">
    
                <li class="menu--list--items">
                    <a href="../index.ejs" title="courses" class="menu--list--items--links big-font-size new-list">Utilities</a>
                </li>
                <li class="menu--list--items">
                    <a href="../loans.ejs" title="lecturer" class="menu--list--items--links big-font-size new-list">Loans</a>
                </li>
                <li class="menu--list--items">
                    <a href="../leases.ejs" title="sign" class="menu--list--items--links big-font-size new-list">Leases</a>
                </li>
    
    
            </ul>
        </div>
    
        
    
    
    
    </header>