<%- include("includes/head.ejs") %>
 
<h1>user id is <%= userId %></h1>

<input id="utilityName" type="text">
<input id="utilityPrice" type="text">
<button id="inputBtn">press</button>


<%- include("includes/bottom.ejs") %>