<%- include("includes/head.ejs") %>

<!-- <form action="/utils" method="post">
  <select name="typeOfUtil">
    <option value="gas">gas</option>
    <option value="electricity">electricity</option>
    <option value="water">water</option>
    <option value="internet">internet</option>
  </select> -->


<header class="header">

    <!-- =======  LOGO  ========-->
    <!-- <div class="header--logo"></div> -->

    <!-- =======  NAVBAR ========-->

<%- include("includes/navigation.ejs") %>
 

    <!---  MOBILE BURGER -->
    <!-- <div class="main-burger" onclick="myBurger()">
			<div class="burger"></div>
		</div> -->

    <!---  MOBILE NAV-->

    <!-- <div class="mobile-nav">

			<div class="round">
				<div class="round--item"></div>
			</div>
			<div class="menu--nav">
				<ul class="menu--nav--list ">

					<li class="menu--nav--list--items">
						<a href="#" class="menu--nav--list--items--links links" alt=""><span style="color:#00FF66">შესვლა</span></a>
						<img src="pictures/enter-1.svg" alt="enter" />
					</li>
					<li class="menu--nav--list--items">
						<a href="#" class="menu--nav--list--items--links links" alt="">კურსები</a>
						<img src="pictures/courses.svg" alt="courses" />
					</li>
					<li class="menu--nav--list--items">
						<a href="#" class="menu--nav--list--items--links links" alt="">გახდი ლექტორი</a>
						<img src="pictures/lectur.svg" alt="courses" />
					</li>
					<li class="menu--nav--list--items">
						<a href="#" class="menu--nav--list--items--links links" alt="">კონტაქტი</a>
						<img src="pictures/contact.svg" alt="courses" />
					</li>
					<li class="menu--nav--list--items">
						<a href="#" class="menu--nav--list--items--links links" alt="">ჩვენს შესახებ</a>
						<img src="pictures/about.svg" alt="courses" />
					</li>

				</ul>
			</div>
		</div> -->



</header>

 

<main class="main">
    
        <div class="back-pic">
               
            </div>

 

    <div class="info-cont">
        <section class="display-info">

            <div class="section-left">
                <div class="transactions">
                    <div class="transactions-cont">
                        <p class="transactions-text medium-font-size">Last Transactions</p>
                    </div>


                    <div class="transactions-sections">
                        <div class="transaction-small"></div>
                        <div class="transaction-big white">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos small-font-size">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two medium-font-size">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three small-font-size">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>

                            <div class="transaction-big--money small-font-size">
                                <p class="transaction-big--money--display">10.95$</p>
                            </div>

                        </div>

                    </div>


                    <div class="transactions-sections">
                        <div class="transaction-small red"></div>

                        <div class="transaction-big">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>
                            <div class="transaction-big--money">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
                        </div>

                    </div>


                    <div class="transactions-sections">
                        <div class="transaction-small green"></div>

                        <div class="transaction-big">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>
                            <div class="transaction-big--money">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
                        </div>

                    </div>

                    <div class="transactions-sections">
                        <div class="transaction-small red"></div>

                        <div class="transaction-big">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>
                            <div class="transaction-big--money">
                                <p class="transaction-big--money--display">10.95$</p>
                            </div>
                        </div>

                    </div>


                    <div class="transactions-sections">
                        <div class="transaction-small green"></div>

                        <div class="transaction-big">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>
                            <div class="transaction-big--money">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
                        </div>

                    </div>
                    <div class="transactions-sections">
                        <div class="transaction-small red"></div>

                        <div class="transaction-big">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>
                            <div class="transaction-big--money">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
                        </div>

                    </div>
                    <div class="transactions-sections">
                        <div class="transaction-small green"></div>

                        <div class="transaction-big">
                            <div class="transaction-big--round">
                                <div class="transaction-big--round--dots">
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                    <div class="transaction-big--round--dots--one"></div>
                                </div>

                            </div>
                            <div class="transaction-big--infos">
                                <div class="transaction-big--infos--one">
                                    <p>Yesterday</p>
                                </div>

                                <div class="transaction-big--infos--two">
                                    <p>Energo-Pro</p>
                                </div>

                                <div class="transaction-big--infos--three">
                                    <p>Incomes > Transfer-info</p>
                                </div>




                            </div>
                            <div class="transaction-big--money">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="section-right">
                <div class="registration">
                    <div class="left-panel">
                      <div class="registration-form">
                          <div class="account">გადაიხადე კომუნალურები</div>
                  
                  
                  
                          <form class="form" action="/utils" method="post">
                            <div >
                              <!-- <label for="name">Name</label> -->
                              <!-- <input class="form--name" type="text" placeholder="Name"> -->
                              <select class="form--name" name="typeOfUtil">
                                <option value="electricity">electricity</option>
                                <option value="gass">gass</option>
                                <option value="water">water</option>
                                
                              </select> 
                            </div>
                            <div >
                                <!-- <label for="Email">Email</label> -->
                                <input type="date" class="input"  name = "startDate">
                              </div>
                              <div >
                                  <!-- <label for="Password">Password</label> -->
                                  <input type="date" class="input"  name="endDate">
                                </div> 
                                
 
                               
                                <button type="submit" class="register-btn">Register</button>
                          </form>
                  
                      </div>
                  
                     
                      
                  
                    </div>
                    
                  </div>
            </div>

        </section>
    </div>
</main>







  <!-- <input type="datetime" name="startDate" id="" /><br />
  <input type="datetime" name="endDate" id="" /><br />
  <button type="submit">send</button> -->
<!-- </form> -->

<%- include("includes/bottom.ejs") %>
