<%- include("includes/head.ejs") %>

<form action="/utils" method="post">
  <select name="typeOfUtil">
    <option value="gas">gas</option>
    <option value="electricity">electricity</option>
    <option value="water">water</option>
    <option value="internet">internet</option>
  </select>

  <input type="datetime" name="startDate" id="" /><br />
  <input type="datetime" name="endDate" id="" /><br />
  <button type="submit">send</button>
</form>

<%- include("includes/bottom.ejs") %>
