<%- include("includes/head.ejs") %>
<%- include("includes/navigation.ejs") %>



<main class="main">
    <div class="back"> </div>

    <div class="info-cont">
            <section class="display-info">
    
                <div class="section-left">
                    <div class="transactions">
                        <div class="transactions-cont">
                            <p class="transactions-text medium-font-size">Last Transactions</p>
                        </div>
    
    
                        <div class="transactions-sections">
                            <div class="transaction-small"></div>
                            <div class="transaction-big white">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos small-font-size">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two medium-font-size">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three small-font-size">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
    
                                <div class="transaction-big--money small-font-size">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
    
                            </div>
    
                        </div>
    
    
                        <div class="transactions-sections">
                            <div class="transaction-small red"></div>
    
                            <div class="transaction-big">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
                                <div class="transaction-big--money">
                                        <p class="transaction-big--money--display">10.95$</p>
                                    </div>
                            </div>
    
                        </div>
    
    
                        <div class="transactions-sections">
                            <div class="transaction-small green"></div>
    
                            <div class="transaction-big">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
                                <div class="transaction-big--money">
                                        <p class="transaction-big--money--display">10.95$</p>
                                    </div>
                            </div>
    
                        </div>
    
                        <div class="transactions-sections">
                            <div class="transaction-small red"></div>
    
                            <div class="transaction-big">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
                                <div class="transaction-big--money">
                                    <p class="transaction-big--money--display">10.95$</p>
                                </div>
                            </div>
    
                        </div>
    
    
                        <div class="transactions-sections">
                            <div class="transaction-small green"></div>
    
                            <div class="transaction-big">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
                                <div class="transaction-big--money">
                                        <p class="transaction-big--money--display">10.95$</p>
                                    </div>
                            </div>
    
                        </div>
                        <div class="transactions-sections">
                            <div class="transaction-small red"></div>
    
                            <div class="transaction-big">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
                                <div class="transaction-big--money">
                                        <p class="transaction-big--money--display">10.95$</p>
                                    </div>
                            </div>
    
                        </div>
                        <div class="transactions-sections">
                            <div class="transaction-small green"></div>
    
                            <div class="transaction-big">
                                <div class="transaction-big--round">
                                    <div class="transaction-big--round--dots">
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                        <div class="transaction-big--round--dots--one"></div>
                                    </div>
    
                                </div>
                                <div class="transaction-big--infos">
                                    <div class="transaction-big--infos--one">
                                        <p>Yesterday</p>
                                    </div>
    
                                    <div class="transaction-big--infos--two">
                                        <p>Energo-Pro</p>
                                    </div>
    
                                    <div class="transaction-big--infos--three">
                                        <p>Incomes > Transfer-info</p>
                                    </div>
    
    
    
    
                                </div>
                                <div class="transaction-big--money">
                                        <p class="transaction-big--money--display">10.95$</p>
                                    </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
                <div class="section-right-loans ">
                    
                        
                          
                    <div class="account biggest-font-size">თქვენი ლიზინგი</div>
                      
                      
                      
                              
                         
                          
                      
                        
                        
                      
                </div>
    
            </section>
        </div>
    </main>
    
    



</main>


















<%- include("includes/bottom.ejs") %>