$main-color:#FC6719;


$box-shadow-btn:0 30px 33px -12px rgba(121, 117, 117, 0.3);

<<<<<<< HEAD
$gradiand:linear-gradient(138.45deg, #C44A0A -15.2%, rgba(234, 113, 50, 0.8), 104.74%);
=======
$gradiand: linear-gradient(138.45deg, #C44A0A -15.2%, rgba(234, 113, 50, 0.8) 104.74%);
>>>>>>> b2f4a8715b39660b0f527f472a071ac24b62d998
