.registration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.right-panel {
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradiand;

    &--text{
        &--semicolon {
            font-size: 70px;
            color:white;
            font-family: "gilroy";
        }
    }

    
}

.left-panel {
    display: flex;
    justify-content: center;

}



.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .register-btn {
        text-decoration: none;
        border-radius: 2px;
        width: 33.1rem;
        padding: 2rem;
        color: white;
        font-family: "lato-regular";
        display: block;
        text-align: center;
        position: relative;
        background: $main-color;
        font-size: calc(15px + (22 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
        box-shadow:$box-shadow-btn;
    }
    
}

.account {
    font-size: 40px;
    color: #FC6719;
    font-weight: bold;
    font-family: "gilroy";
}

.form {
    // background-color: red;
    
    width: 60rem;
    min-height: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    &--name{
        display:block;
        width:100%;
        border:2px solid #2980B9;
        padding:1rem;
        font-size:30px;
        border-radius:5px;
        border:1px solid rgba(170, 170, 170, 0.3);
        box-shadow:$box-shadow-btn;
        
        
    }

    
    ::placeholder {
        color: #9C9A9A;
        font-size: 12px;  
        font-family: "lato-regular";  
        // text-align: center;
    }

    

}