@font-face {
	// font-family: 'LexendDeca';
	font-family: "lato-regular";
	// src: url(../fonts/LexendDeca-Regular.ttf);
	src: url(../../fonts/Lato-Regular.ttf);

}

@font-face {
	// font-family: 'LexendDeca';
	font-family: "gilroy";
	// src: url(../fonts/LexendDeca-Regular.ttf);
	src: url(../../fonts/Gilroy-Bold.ttf);

}